<manifest package="com.matejdro.pebblecommons"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver android:name="com.matejdro.pebblecommons.pebble.DataReceiver" android:enabled="@bool/enable_companion_receiver">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".messages.TimeVoiceProvider$VoiceNotificationRemoverReceiver">
            <intent-filter>
                <action android:name="com.matejdro.pebblecommon.notificationaction.TIME_VOICE_NOTIFICATION_REMOVE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".userprompt.NativePebbleUserPrompter$NotificationRemoverReceiver">
            <intent-filter>
                <action android:name="com.matejdro.pebblecommon.notificationaction.NATIVE_PEBBLE_PROMPT_REMOVE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".util.BluetoothHeadsetListener">
            <intent-filter>
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
